
Escalonador/Versão C/eclnr.c

Escalonador/Versão C/eclnr.h

Escalonador/Versão C/lista.c

Escalonador/Versão C/lista.h

Escalonador/Versão C/main.c

Escalonador/Versão C/process.c

Escalonador/Versão C/process.h

Escalonador/Versão Python/main.py

Escalonador/Versão Python/Process.py

Escalonador/Versão Python/Scheduler.py

LICENSE

README.md
